.homeDiv {
  margin: 4% 0;
  height: 100vh;
}

.home-chart-container {
  position: relative;
  width: 100%;
  max-width: 300px; 
  background-color: white;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
}

.home-chart {
  height: 300px; 
  width: 100%;
}

.pie-table {
  box-shadow: none !important;
}

.issues-container {
  width: 100%;
  max-width: 640px;
  margin: 2rem auto;
}

.home-page .MuiDataGrid-root {
  background-color: white;
  border-radius: 10px;
}

.home-page .MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  text-align: center; 
}

.home-page .MuiDataGrid-columnHeader--sortable {
  background-color: #14144f !important;
}

.home-page .MuiDataGrid-columnHeaderTitle {
  color: white !important;
  font-size: 12px;
}

.home-page .MuiDataGrid-root .MuiDataGrid-footerContainer {
  height: 30px !important;
  min-height: 15px;
  font-size: 12px !important;
}
