.log-tracing-container {
    padding: 20px;
    height: 100vh;
    position: relative;
    top: 5vh;
  
  }

  .tracingPageTop{
    display: flex;
    position: relative;
    
  }
  .tracingPageTop strong {
    position: absolute;
    right: 0;
  }
  .tracingPageTop p {
    position: absolute;
    top: 7vh;
    right: 0;
  }
  .log-list {   
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5vh;
  }
  
  .log-card.MuiPaper-rounded   {
    border-radius: none !important;
  }
  .log-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .log-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .log-detail {
    flex: 1;
    margin-right: 20px;
  } 
  
  .log-divider {
    margin: 20px 0;
  }
  .tracingUserInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: large;
    margin-top: 3vh;
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
  }
  
  .pagination-buttons {
    display: flex;
    gap: 10px;
  }