@import "variables";

.MealsDiv {
  background-color: $main-backColor;
  .mealsMapDiv {
    padding: 10vw 50px 0px 50px;
    text-align: center;
    display: $side;
    flex-wrap: wrap;
    justify-content: space-between;
    .mealsMap {
      width: 30%;
      margin-bottom: 20px;
      button {
        background-color: $main-backColor;
        cursor: $hand;
        border: none;
        &:hover {
          text-decoration: underline;
        }
      }
      h2 {
        color: $main-text-color;
      }
      img {
        @include size(90%, auto);
        border-radius: 5px;
      }
    }
  }
}
