@import "variables";

.font {
  font-weight: bold;
  font-size: large;
  font-family: SourceSansPro, Helvetica, sans-serif;
}

.navbarDiv {
  display: $side;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @include size(100%, 8vw);
  background-color: $navbar-BackColor;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 0px 2px 1px #f5d41e;
  .navbarLogoBtn {
    margin: 0px 23vw 0px 15vw;
    background-color: $navbar-BackColor;
    border: none;
    cursor: pointer;
    .navbarLogo {
      @include size(200px, 100px);
    }
  }
  .navbarNav {
    display: $side;
    padding: 35px 10vw 0px 7px;
    text-align: right;
    @extend .font;
  }
  .enBtn {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0fa6f7;
    color: white;
    margin-top: 25px;
  }
  .trBtn {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0fa6f7;
    color: white;
    margin-top: 25px;
  }
}

.navbarNav:hover .sub-menu {
  display: $block;
}
