.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.main-content {
    display: flex;
}
.content {
    flex: 1;
    position: relative; 
    top: -3%;
    background-color: #F0F0F0;
} 