.aboutUsDiv {
  margin: 5vw 0pc 5vw 23vw;
  padding: 20px 20px 20px 20px;
  width: 50%;
  height: 50%;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(224, 10, 224),
    purple
  ); /* Koyu mordan açık mora doğru gradient */
  border: none;
  border-radius: 20px;
}

.aboutUsDiv h2 {
  position: relative;
  z-index: 1;
  color: black; /* Başlık rengini ayarlayabilirsiniz */
  text-align: center;
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.aboutUsDiv label {
  position: relative;
  z-index: 1;
  color: black; /* Başlık rengini ayarlayabilirsiniz */
  text-align: center;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.aboutUsDiv h3 {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  color: black; /* Başlık rengini ayarlayabilirsiniz */
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
