@import "variables";
.commonInput {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: $creamColor;
}
.eventFormDiv {
  border-radius: $border-radius;
  margin-left: $gap;
  padding: $padding;
  background-color: #bc6c25;
  width: 300px;
  form {
    h5 {
      font-weight: $font-weight;
    }
    input {
      @extend .commonInput;
    }
    select {
      @extend .commonInput;
    }
    textarea {
      @extend .commonInput;
    }
    button {
      @extend .button-size;
      margin-top: 1vw;
      border: none;
      border-radius: 5px;
      background-color: $greenColor;
      color: $creamColor;
      font-weight: $font-weight;
    }
  }
}
