@import "variables";
.commonInput {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.eventFormDiv {
  .update-form {
    .show-update-main {
      position: relative;
      height: 340px;
      .title-Answ {
        margin-top: 5px;
        display: flex;
        h4 {
          text-align: left;
          padding-right: 9vh;
          padding-bottom: 20px;
        }
        h5 {
          padding-top: 5px;
          font-weight: $font-weight;
        }
        .hourInput {
          background-color: $main-background-color;
          margin-left: 2vh;
          border: 1px solid #006bb3;
          border-radius: 10px;
          @include size(6vh, 40px);
        }
        .nameInput {
          position: absolute;
          right: 0;
          background-color: $main-background-color;
          border: 1px solid #006bb3;
          border-radius: 10px;
          @include size(15vh, 40px);
        }
        .noteInput {
          position: absolute;
          right: 0;
          background-color: #fff;
          border: 1px solid #006bb3;
          border-radius: 10px;
          @include size(15vh, 40px);
        }
        .locaInput {
          position: absolute;
          right: 0;
          margin-bottom: 30px;
          background-color: $main-background-color;
          border: 1px solid #006bb3;
          border-radius: 10px;
          @include size(15vh, 40px);
        }
      }
      .buttonUpdate {
        position: relative;
        left: 50px;
        top: 20px;
        width: 180px;
        height: 40px;
      }
    }
  }

  .createEvent-form {
    position: relative;
    background-color: #e3f2fd;
    padding: 30px 0px 0px 40px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 10px black;
    border-radius: $border-radius;
    h5 {
      font-weight: $font-weight;
    }
    input {
      @extend .commonInput;
    }
    select {
      margin-right: 10px;
      @extend .commonInput;
    }
    textarea {
      @extend .commonInput;
    }
    button {
      @extend .button-size;
      margin-top: 1vw;
      border: none;
      border-radius: 5px;
      background-color: #42a5f5;
      color: white;
      font-weight: $font-weight;
    }
  }
}
