@import "variables";
.commonInput {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.eventFormDiv {
  width: 300px;
  .showPupdateDiv {
    padding-right: 10px;
    div {
      margin-top: 5px;
      h5 {
        font-weight: $font-weight;
      }

      .hourInput {
        margin-left: 50px;
        background-color: $creamColor;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px $greenColor;
        @include size(15vw, 40px);
      }
      .nameInput {
        margin-top: 10px;
        margin-left: 40px;
        background-color: $creamColor;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px $greenColor;
        @include size(15vw, 40px);
      }
      .noteInput {
        margin-top: 10px;
        margin-left: 53px;
        background-color: $creamColor;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px $greenColor;
        @include size(15vw, 40px);
      }
      .locaInput {
        margin-bottom: 10px;
        margin-left: 15px;
        background-color: $creamColor;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px $greenColor;
        @include size(15vw, 40px);
      }
    }
    .buttonUpdate {
      width: 180px;
      height: 40px;
    }
  }
  form {
    background-color: #e3f2fd;
    padding: 30px 0px 0px 40px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 10px black;
    border-radius: $border-radius;
    h5 {
      font-weight: $font-weight;
    }
    input {
      @extend .commonInput;
    }
    select {
      @extend .commonInput;
    }
    textarea {
      @extend .commonInput;
    }
    button {
      @extend .button-size;
      margin-top: 1vw;
      border: none;
      border-radius: 5px;
      background-color: #42a5f5;
      color: white;
      font-weight: $font-weight;
    }
  }
}
