@import "variables";

.navbarDiv {
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  height: 80px;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  button {
    background-color: white;
    border: none;
    outline: none;
    .title {
      margin: 20px;
      color: #c1121f;
    }
  }
  nav {
    padding: 30px 20vw 0px 40vw;
    text-align: right;
    .navbarLink {
      color: #c1121f;
      font-size: 20px;
      font-weight: bolder;
      text-decoration: underline;
      margin-left: 20px;
    }
  }
}
