@import "variables";

.navbarDiv {
  position: relative;
  display: flex;
  z-index: 2;
  background-color: $main-background-color;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  .btn {
    background-color: $main-background-color;
    cursor: pointer;
  }
  .homeBtn {
    height: auto;
    position: relative;
    left: 20px;
    border: none;
    outline: none;
    .title {
      color: #c1121f;
    }
  }
  nav {
    position: absolute;
    left: 50%;
    top: 30px;
    .navbarLink {
      color: #c1121f;
      font-size: 20px;
      font-weight: bolder;
      padding-left: 20px;
    }
    .navbarLink:hover {
      text-decoration: underline;
    }
  }
  .createBtn {
    position: absolute;
    right: 80px;
    top: 30px;
  }
}
