@import "variables";
.font {
  font-weight: bold;
  font-size: large;
}
.common-input {
  @include size(86vw, 45px);
  border: none;
  border-radius: 15px;
  background-color: #bbbb;
  padding-left: 25px;
}

.regDiv {
  margin: 3vw 0px 33vw 6vw;
  .reg {
    margin-bottom: 0px;
  }
  .regLine {
    margin-bottom: 5px;
    background-color: #000;
    @include size(87.5vw, 2px);
  }
  .inputName {
    margin: 20px 0px 0px 0px;
    @extend .common-input;
  }
  .inputEmail {
    margin: 15px 0px 15px 0px;
    @extend .common-input;
  }
  .inputPassword {
    margin-bottom: 15px;
    @extend .common-input;
  }
  .notYetRegisterDiv {
    display: flex;
    .loginNotLogin {
      @extend .font;
    }
    .loginLink {
      @extend .font;
      margin-left: 5px;
      color: #3498db;
    }
  }
  .loginBtn {
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    @include size(5vw, 2vw);
    @extend .font;
    background-color: #3498db;
    color: white;
  }
}
