@import "variables";
.showPdiv {
  margin: 2vw;
  .showPsearch {
    margin-left: 40vw;
    display: flex;
    form {
      h2 {
        margin-left: 1vw;
        color: brown;
      }
      input {
        @extend .borderShow;
        @include size(15vw, 40px);
      }
    }
    button {
      background-color: brown;
      color: white;
      font-weight: $font-weight;
      @extend .borderShow;
      @include size(5vw, 40px);
      margin: 47px 0px 0px 40px;
    }
  }
  .showPmapDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .showPmap {
    flex: 0 0 calc(25% - 20px); /* Kutucuk genişliği için gereken stil ayarları */
    padding: 10px;
    margin: 10px;
    background-color: $creamColor;
    border-radius: 5px;
    text-align: center;
    h2 {
      font-size: large;
    }
    h3 {
      font-size: large;
    }
  }
}
