@import "variables";
.showDiv {
  border-radius: $border-radius;
  margin-right: $gap;
  padding: $padding;
  background-color: $greenColor;
  overflow-y: auto;
  max-height: 465px;
  width: 300px;
  div {
    margin-top: 20px;
    h5 {
      font-weight: $font-weight;
    }
  }
}
